<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/controller-game-color.png" alt="" width="35" height="28" class="d-inline-block align-text-top">
      Sala de Juegos
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button routerLink="home" class="btn btn-dark m-1">Home</button>
        </li>
        <li class="nav-item">
          <button routerLink="quienSoy" class="btn btn-dark m-1">Quien Soy</button>
        </li>
      </ul>
    </div>
    <div class="ml-auto">
      @if(isLoggedIn) 
      {
        <button (click)="logOut()" class="btn btn-dark m-1">Salir</button>
        <span>
          <img src="assets\cerrar-sesion-icon.png" alt="Login icon" class="icon">
        </span>
      } @else 
      {
        <button routerLink="login" class="btn btn-dark m-1">Log In</button>
        <span>
          <img src="assets\iniciar-sesion-icon.png" alt="Login icon" class="icon">
        </span>
      }
    </div>
  </div>
</nav>
<router-outlet></router-outlet>