<div class="d-flex align-items-center justify-content-around" #container>
    <div class="card" style="width: 25rem;">
        <img src="assets\heyAhuitz.jpeg" class="card-img-top" alt="heyahuitzImage">
        <div class="card-body">
            <p class="card-text">Hola, soy Ahuitz Caracciolo, actualmente estoy cursando la materia Laborario IV en
                la division A14 en la UTN FRA</p>
        </div>
    </div>
    <div class="card" style="width: 25rem;">
        <img src="assets\heyAhuitz.jpeg" class="card-img-top" alt="heyahuitzImage">
        <div class="card-body">
            <p class="card-text">Hola, soy Ahuitz Caracciolo, actualmente estoy cursando la materia Laborario IV en
                la division A14 en la UTN FRA</p>
        </div>
    </div>
</div>